<html>
    <head></head>
<body bgcolor='black'>
        <div>   
            <div class="center">                                  
			
                <img src="app/ChooseCasino/Images/select.png" alt="Avatar" style="width:100%">            
              <!--<ul>
              <li
              *ngFor="#Item of Items"
              (click)="onItemClicked(Item)">
                  {{ Item.name }}
              </li>
           </ul>
        <b>ITEM CHECKED</b><input class="input" type="text" name="itemsCheck" [(ngModel)]="clickedItem.name" required/><br><br> 
        <input type="submit" (click)="clicked()"/><br><br>
        <form>
        <b>CHECK EMPTY</b><input class="input" type="text" name="emptyCheck" required/><br><br> 
        <input type="submit" value="check"/><br><br>
        </form>-->
                 <div class="card">    
                     <img src="app/ChooseCasino/Images/redrock.png" alt="Avatar" style="width:100%">
                    </div>           
                <div class="card">
                <img src="app/ChooseCasino/Images/santafestation.png" alt="Avatar" style="width:100%">
            </div>
            <div class="card">
                <img src="app/ChooseCasino/Images/fiesta.png" alt="Avatar" style="width:100%">
            </div>  
            <div class="card">
                <img src="app/ChooseCasino/Images/wildfare.png" alt="Avatar" style="width:100%">
            </div>  
            <div class="card">
                <img src="app/ChooseCasino/Images/wildfire.png" alt="Avatar" style="width:100%">
            </div>  
            <div class="card">
                <img src="app/ChooseCasino/Images/palacestation.png" alt="Avatar" style="width:100%">
            </div>  
            <div class="card">
                <img src="app/ChooseCasino/Images/boulderstation.png" alt="Avatar" style="width:100%">
            </div>  
        </div>         
    </div>         
</body>
</html> 